---
http_interactions:
- request:
    method: post
    uri: https://sendgrid.com/apiv2/customer.apps.json
    body:
      encoding: US-ASCII
      string: name=domainkeys&user=user-test&domain=test.com&sender=1&api_user=api-user&api_key=api-key&task=setup
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Thu, 31 Oct 2013 19:22:29 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.apps.json?api_key=api-key&api_user=api-user&task=getavailable&user=user-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":"gravatar","title":"Gravatar","description":"Appends your
        gravatar to each HTML email.","activated":false},{"name":"clicktrack","title":"Click
        Tracking","description":"Overwrites every link to track every click in emails.","activated":false},{"name":"subscriptiontrack","title":"Subscription
        Tracking","description":"Adds unsubscribe links to the bottom of the text
        and HTML emails.  Future emails won''t be delivered to unsubscribed users.","activated":false},{"name":"opentrack","title":"Open
        Tracking","description":"Appends an invisible image to HTML emails to tra[...]
