---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.apps.json?api_key=api-key&api_user=api-user&name=domainkeys&task=activate&user=user-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Thu, 31 Oct 2013 19:23:52 GMT
- request:
    method: post
    uri: https://sendgrid.com/apiv2/customer.apps.json
    body:
      encoding: US-ASCII
      string: name=domainkeys&user=user-test&domain=test.com&sender=1&api_user=api-user&api_key=api-key&task=setup
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"success"}'
  recorded_at: Thu, 31 Oct 2013 19:23:52 GMT
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.apps.json?api_key=api-key&api_user=api-user&name=domainkeys&task=getsettings&user=user-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"settings":{"domain":"test.com","sender":1}}'
  recorded_at: Thu, 31 Oct 2013 19:23:53 GMT
recorded_with: VCR 2.6.0
