---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.profile.json?api_key=api-key&api_user=api-user&task=get&username=user-test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"username":"user-test","email":"test@address.com","active":"true","first_name":"first","last_name":"last","address":"address","address2":"","city":"city","state":"state","zip":"zip","country":"xx","phone":"phone","website":"http:\/\/www.website.com","website_access":"true"}]'
  recorded_at: Thu, 31 Oct 2013 19:27:32 GMT
recorded_with: VCR 2.6.0
