---
http_interactions:
- request:
    method: get
    uri: https://sendgrid.com/apiv2/customer.profile.json?api_key=api-key&api_user=api-user&task=get
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"username":"guestfoliov1","email":"support@guestfolio.com","active":"true","first_name":"Mark","last_name":"Edmondson","address":"1200
        Alpha Lake Road","address2":"","city":"Whistler","state":"BC","zip":"V0N1B1","country":"CA","phone":"Canada","website":"http:\/\/www.guestfolio.net","website_access":"false"},{"username":"gf-tweedsmuir-park-lodge","email":"sendgrid+hotel.152@guestfolio.com","active":"true","first_name":"Tweedsmuir
        Park Lodge","last_name":"Guestfolio","address":"7001 Corbould Drive","address2":"","city":"Bella
        Coola","state":"BC","zip":"N\/a","country":"Canad","phone":"1 (604) 905-4994","website":"http:\/\/www.tweedsmuirparklodge.com","website_access":"false"},{"username":"gf-kasbah-tamadot","email":"sendgridgf-+hotel.158@guestfolio.com","active":"true","first[...]
